/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Variable CSS */
:root {
	--header-height: ;

	/* Colors */
	/* Change favorite color */
	--hue-color: ; /* Purple 250 - Green 142 - Blue 230 - Pink 340*/

	/* HSL Color Mode */
	--first-color: ;
	--first-color-second: ;
	--first-color-alt: ;
	--first-color-lighter: ;
	--titile-color: ;
	--text-color-light: ;
	--input-color: ;
}
